main {
    display: flex;
    flex-direction: row;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid pink;
    box-shadow: 0px 2px 2px purple;
    width: 200px;
    padding: 20px;
  }
  
  .work {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid blue;
    box-shadow: 0px 2px 2px purple;
    width: 200px;
    padding: 20px;
  }
  
  .school {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid green;
    box-shadow: 0px 2px 2px blue;
    width: 200px;
    padding: 20px;
  }